# EDA
## Vivienda en Madrid

In [164]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import statistics

In [165]:
import os
os.getcwd()

'd:\\Documentos\\2.CURSOS\\BOOTCAMP\\DS_PT_09_2023\\EDA\\Madrid_real_state'

In [166]:
data = pd.read_csv('houses_Madrid.csv', index_col='Unnamed: 0')
data = data.sort_index(axis= 1)

Eliminación de las columnas que son nulas o no aportan información relevante al análisis

In [167]:
data.columns

Index(['are_pets_allowed', 'built_year', 'buy_price', 'buy_price_by_area',
       'door', 'energy_certificate', 'floor', 'has_ac', 'has_balcony',
       'has_central_heating', 'has_fitted_wardrobes', 'has_garden',
       'has_green_zones', 'has_individual_heating', 'has_lift', 'has_parking',
       'has_pool', 'has_private_parking', 'has_public_parking',
       'has_storage_room', 'has_terrace', 'house_type_id', 'id',
       'is_accessible', 'is_buy_price_known', 'is_exact_address_hidden',
       'is_exterior', 'is_floor_under', 'is_furnished', 'is_kitchen_equipped',
       'is_new_development', 'is_orientation_east', 'is_orientation_north',
       'is_orientation_south', 'is_orientation_west',
       'is_parking_included_in_price', 'is_renewal_needed',
       'is_rent_price_known', 'latitude', 'longitude', 'n_bathrooms',
       'n_floors', 'n_rooms', 'neighborhood_id', 'operation', 'parking_price',
       'portal', 'raw_address', 'rent_price', 'rent_price_by_area',
       'sq_mt_allotment', 'sq_mt_built', 'sq_mt_useful', 'street_name',
       'street_number', 'subtitle', 'title'],
      dtype='object')

In [168]:
def nombre_columnas(df):
    '''Función para tratar el nombre de las columnas y eliminar las vacias'''
    try:
        df.drop(columns=['latitude', 'longitude', 'portal', 'door', 'rent_price_by_area', 'are_pets_allowed', 'is_furnished',
                    'is_kitchen_equipped', 'has_private_parking', 'has_public_parking', 'sq_mt_useful', 'n_floors', 'has_ac', 'title',
                    'sq_mt_allotment', 'raw_address', 'is_exact_address_hidden', 'street_name', 'street_number', 'is_buy_price_known',
                    'is_parking_included_in_price', 'is_rent_price_known', 'operation', 'is_new_development', 'parking_price', 'rent_price', 'neighborhood_id',
                    'has_central_heating', 'has_individual_heating', 'has_lift', 'is_orientation_east', 'is_orientation_north', 'is_orientation_south', 'is_orientation_west'
                    ], axis=1, inplace = True)
        
        df.columns = ['annio_construccion', 'precio_compra', 'precio_compra_por_area', 'cee',
       'piso', 'balcon', 'armarios_empotrados', 'jardin', 'zonas_verdes', 
       'estacionamiento', 'pileta',
       'trastero', 'terraza', 'tipo_inmueble', 'id',
       'accesible', 'exterior', 'bajo', 'necesita_reforma', 'bannos', 'habitaciones', 'metros_cuadrados', 'ubicacion']
        
        df['id'] = df['id'].astype(object)
    except Exception as a:
        print(f"No pude tranformar las columnas por {a}")
    return df

In [169]:
df = nombre_columnas(data)

In [170]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21742 entries, 0 to 21741
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   annio_construccion      10000 non-null  float64
 1   precio_compra           21742 non-null  int64
 2   precio_compra_por_area  21742 non-null  int64
 3   cee                     21742 non-null  object
 4   piso                    19135 non-null  object
 5   balcon                  3321 non-null   object
 6   armarios_empotrados     13399 non-null  object
 7   jardin                  1556 non-null   object
 8   zonas_verdes            4057 non-null   object
 9   estacionamiento         21742 non-null  bool
 10  pileta                  5171 non-null   object
 11  trastero                7698 non-null   object
 12  terraza                 9548 non-null   object
 13  tipo_inmueble           21351 non-null  object
 14  id                      21742 non-null  object
 15  accesible               4074 non-null   object
 16  exterior                18699 non-null  object
 17  bajo                    20572 non-null  object
 18  necesita_reforma        21742 non-null  bool
 19  bannos                  21726 non-null  float64
 20  habitaciones            21742 non-null  int64
 21  metros_cuadrados        21616 non-null  float64
 22  ubicacion               21742 non-null  object
dtypes: bool(2), float64(3), int64(3), object(15)
memory usage: 3.7+ MB

## Analisis Univariante

##### Variables Cuantitativas

In [ ]:
df_cuant = df.select_dtypes(include='number')
df_cuant.describe()

In [ ]:
def graficos_variables_cuant(data):
    ''''Funcuion para graficar las variables cuantitativas'''
    try:
        for columna in data.columns:
            print('--'*30)
            print(f"VARIABLE: {columna}\n")

            plt.figure(figsize=(20,4))
            sns.boxplot(data[columna], orient='h');
            plt.show()

            sns.displot(data[columna], rug = True);
            plt.show()

            print(data[columna].describe())
            print('--'*30)
    except Exception as a:
        print(f"No puedo analizar la variable por este error {a}")

In [ ]:
graficos_variables_cuant(df_cuant)

##### Variables Cualitativas

In [ ]:
df_cual = df.select_dtypes(exclude= 'number').drop('id', axis=1)

In [ ]:
def graficos_variables_cualit(data):
    ''''Funcuion para graficar las variables cualitativas'''
    try:
        for columna in data.columns:
            print('--'*30)
            print(f"VARIABLE: {columna}\n")
            if len(df[columna].dropna().unique()) > 1:
                ax = sns.countplot(data= data.sort_values(by=columna), x= columna)
                ax.set_xticklabels(df[columna].sort_values().unique(), rotation=90)
                #se superponen los valores porque me da uns advertencia al aplicar este parametro, no sé como sacarla :)
                plt.title(f"Conteo variable {columna}")
                plt.show();
            else:
                print('No es necesario graficar porque tiene un solo valor dentro de la columna')
            print(data[columna].value_counts())
            print('--'*30)
    except Exception as a:
        print(f"No puedo analizar la variable por este error {a}")

In [ ]:
graficos_variables_cualit(df_cual)

## Limpieza de datos

In [ ]:
def rellenar_columnas_F(data):
    ''' Función que rellena las columnas que tienen valor true y nan'''
    try:
        df['zonas_verdes'].replace(np.nan, False,inplace=True)
        df['balcon'].replace(np.nan, False,inplace=True)
        df['armarios_empotrados'].replace(np.nan, False,inplace=True)
        df['jardin'].replace(np.nan, False,inplace=True)
        df['pileta'].replace(np.nan, False,inplace=True)
        df['trastero'].replace(np.nan, False,inplace=True)
        df['terraza'].replace(np.nan, False,inplace=True)
        df['accesible'].replace(np.nan, False,inplace=True)
    except Exception as a:
        print(f"No pude rellenar las columnas por {a}")
    return data

In [ ]:
df = rellenar_columnas_F(df)

In [ ]:
df.info()

In [ ]:
def rellenar_annios_nulos_necesitan_reforma(df):
    '''Función para rellenar los annios que vienen nulos'''
    try:
        #diccionario para ver si tenemos todos las ubicaciones o no
        dicc_annios_antiguos = df[(df['necesita_reforma'] == True) & (df['annio_construccion'].notna())].groupby('ubicacion')[['annio_construccion']].mean(numeric_only = True).astype(int).reset_index().to_dict('records')
        
        #agrega las ubicaciones que no existen, asignando la media de los inmuebles que necesitan reforma
        dicc_annios_antiguos = dicc_annios_antiguos + [{'ubicacion': 'Horcajo, Madrid', 'annio_construccion': 1957}, 
                   {'ubicacion': 'Valdebebas - Valdefuentes, Madrid', 'annio_construccion': 1957},
                   {'ubicacion': 'Virgen del Cortijo - Manoteras, Madrid', 'annio_construccion': 1957}]
        
        df_annios_antiguos = pd.DataFrame(dicc_annios_antiguos)
        df_unido = pd.merge(df,df_annios_antiguos, on='ubicacion', how = 'left')

        #asigna el valor de el annio en base a la la ubicacion
        df_unido['annio_construccion'] = df_unido.apply(lambda x: x.annio_construccion_y if ((x.necesita_reforma == True) & (pd.isna(x.annio_construccion_x))) else x.annio_construccion_x, axis = 1)

        df = df_unido.drop(columns=['annio_construccion_y', 'annio_construccion_x'], axis = 1)
    
    except Exception as a:
        print(f"No pude transformar el df por {a}")

    return df

In [ ]:
def rellenar_annios_nulos_no_necesitan_reforma(df):
    '''Función para rellenar los annios que vienen nulos'''
    try:
        #diccionario para ver si tenemos todos las ubicaciones o no
        dicc_annios_nuevo = df[(df['necesita_reforma'] == False) & (df['annio_construccion'].notna())].groupby('ubicacion')[['annio_construccion']].mean(numeric_only = True).astype(int).reset_index().to_dict('records')
        
        #agrega las ubicaciones que no existen, asignando la media de los inmuebles que no necesitan reforma
        dicc_annios_nuevo = dicc_annios_nuevo + [{'ubicacion': 'Cuatro Vientos, Madrid', 'annio_construccion': 1973}]
        
        df_annios_nuevo = pd.DataFrame(dicc_annios_nuevo)
        df_unido_nuevo = pd.merge(df,df_annios_nuevo, on='ubicacion', how='left')

        #asigna el valor de el annio en base a la la ubicacion
        df_unido_nuevo['annio_construccion'] = df_unido_nuevo.apply(lambda x: x.annio_construccion_y if ((x.necesita_reforma == False) & (pd.isna(x.annio_construccion_x))) else x.annio_construccion_x, axis = 1)

        df = df_unido_nuevo.drop(columns=['annio_construccion_x', 'annio_construccion_y'], axis = 1)
    
    except Exception as a:
        print(f"No pude transformar el df por {a}")

    return df

In [ ]:
df[df['annio_construccion'] == df['annio_construccion'].max()]

In [ ]:
media_año_barrio_s = df[(df['ubicacion'] == 'Barrio de Salamanca, Madrid') & (df['annio_construccion'].notna())].groupby('ubicacion')['annio_construccion'].mean(numeric_only = True).astype(int)
media_año_barrio_s

In [ ]:
df['annio_construccion'].replace(8170.0, 1979, inplace= True)

In [ ]:
df = rellenar_annios_nulos_necesitan_reforma(df)
df = rellenar_annios_nulos_no_necesitan_reforma(df)

In [ ]:
def rellenar_pisos_nulos(df):
    '''Funcion para rellenar los valores nulos de los pisos, con la moda segun la ubicacion'''
    try:
        #df el piso que más se repite, respetando las alturas por ubicacion segun normativa
        df_piso_más_comun = df[df['piso'].notna()].groupby(['ubicacion', 'piso'], as_index=False).count()[['ubicacion', 'piso']].groupby('ubicacion', as_index=False).max()

        df_unido_pisos = pd.merge(df,df_piso_más_comun, on='ubicacion', how= 'inner')

        df_unido_pisos['piso'] = df_unido_pisos.apply(lambda x: x.piso_y if pd.isna(x.piso_x) else x.piso_x, axis = 1)

        df = df_unido_pisos.drop(columns=['piso_x', 'piso_y'], axis = 1)
    except Exception as a:
        print(f"No pude transformar el df por {a}")
    return df

In [ ]:
df = rellenar_pisos_nulos(df)

In [ ]:
def rellenar_bajos_nulos(df):
    '''Funcion que rellena los valores nulos en la columna bajo en base al piso en el que se encuentra'''
    try:
        bajos = ('Semi-sótano', 'Entreplanta interior', 'Entreplanta', 'Semi-sótano exterior', 'Semi-sótano interior', 'Sótano interior', 'Sótano', 'Sótano exterior')

        df['bajo'] = df['piso'].apply(lambda x: True if x in bajos else False)

    except Exception as a:
        print(f"No puse tranformar el df por {a}")
    
    return df

In [ ]:
df = rellenar_bajos_nulos(df)

In [ ]:
def sacar_metros_cuadrados_nuevos(df):
    ''''Funcion para rellenar los valores nulos de los metros cuadrados en base a el precio por metro cuadrado'''
    try:
        df.drop(columns=['metros_cuadrados'], axis= 1, inplace=True)
        df['metros_cuadrados'] = (df['precio_compra'] / df['precio_compra_por_area']).round()
    except Exception as a:
        print(f"No pude tranformar el dataframe")
    return df

In [ ]:
df = sacar_metros_cuadrados_nuevos(df)

In [ ]:
def rellenar_exterior(df):
    '''Funcion que rellena los valores nulos en la columna exterior en base a el piso en el que se encuentra'''
    try:
        exteriores = ('Entreplanta exterior', 'Semi-sótano exterior', 'Sótano exterior')

        df['exterior'] = df['piso'].apply(lambda x: True if x in exteriores else False)

    except Exception as a:
        print(f"No puse tranformar el df por {a}")
    
    return df

In [ ]:
df = rellenar_exterior(df)

In [ ]:
def rellenar_tipo_inmueble(df):
    '''Funcion que rellena los valores nulos en la columna tipo_inmueble, los unico no completos son los estudios'''
    try:
        df['tipo_inmueble'].fillna(value ='HouseType 1: Pisos', inplace=True)

    except Exception as a:
        print(f"No puse tranformar el df por {a}")
    
    return df

In [ ]:
df = rellenar_tipo_inmueble(df)

In [ ]:
def rellenar_bannos_nulos(df):
    '''Funcion para rellenar los valores nulos de los bannos, con la media segun los metros cuadrados'''
    try:
        dicc_bannos = df[df['bannos'].notna()].groupby(['metros_cuadrados'], as_index=False)[['bannos']].mean().round().to_dict('records')
        dicc_bannos.append({'metros_cuadrados': 661, 'bannos': 5})

        df_banno_mas_comun = pd.DataFrame(dicc_bannos)

        df_unido_bannos = pd.merge(df,df_banno_mas_comun, on='metros_cuadrados', how= 'inner')

        df_unido_bannos['bannos'] = df_unido_bannos.apply(lambda x: x.bannos_y if pd.isna(x.bannos_x) else x.bannos_x, axis = 1)

        df = df_unido_bannos.drop(columns=['bannos_x', 'bannos_y'], axis = 1)
    except Exception as a:
        print(f"No pude transformar el df por {a}")
    return df

In [ ]:
df = rellenar_bannos_nulos(df)

In [162]:
for i in df:
    print(f"La cardinalidad de la variable {i} es {(df[i].nunique()/df.shape[0])*100:.2f} %")

La cardinalidad de la variable precio_compra es 11.05 %
La cardinalidad de la variable precio_compra_por_area es 25.95 %
La cardinalidad de la variable cee es 0.05 %
La cardinalidad de la variable balcon es 0.01 %
La cardinalidad de la variable armarios_empotrados es 0.01 %
La cardinalidad de la variable jardin es 0.01 %
La cardinalidad de la variable zonas_verdes es 0.01 %
La cardinalidad de la variable estacionamiento es 0.01 %
La cardinalidad de la variable pileta es 0.01 %
La cardinalidad de la variable trastero es 0.01 %
La cardinalidad de la variable terraza es 0.01 %
La cardinalidad de la variable tipo_inmueble es 0.02 %
La cardinalidad de la variable id es 100.00 %
La cardinalidad de la variable accesible es 0.01 %
La cardinalidad de la variable exterior es 0.01 %
La cardinalidad de la variable bajo es 0.01 %
La cardinalidad de la variable necesita_reforma es 0.01 %
La cardinalidad de la variable habitaciones es 0.09 %
La cardinalidad de la variable ubicacion es 0.67 %
La cardinalidad de la variable annio_construccion es 0.71 %
La cardinalidad de la variable piso es 0.09 %
La cardinalidad de la variable metros_cuadrados es 3.36 %
La cardinalidad de la variable bannos es 0.07 %

In [ ]:
df.info()

In [ ]:
df_correlacion = df.select_dtypes(include= 'number').corr()

In [ ]:
df_correlacion

In [ ]:
from scipy.stats import kurtosis, skew

media = df['precio_compra_por_area'].mean()
median = df['precio_compra_por_area'].median()
variance = df['precio_compra_por_area'].var()
desv_std = df['precio_compra_por_area'].std()  
kurtosis_valor = kurtosis(df['precio_compra_por_area'])
simetria_valor = skew(df['precio_compra_por_area'])

sns.kdeplot(data=df, x='precio_compra_por_area',fill=True,color='green',)
# Agregar líneas verticales para las estadísticas
plt.axvline(media, color='red', linestyle='dashed', label=f'Media: {media:.2f}')
plt.axvline(median, color='blue', linestyle='dashed', label=f'Median: {median:.2f}')
plt.axvline(desv_std, color='brown', linestyle='dashed', label=f'Desv_std: {desv_std:.2f}')

plt.title('Distribución del precio por area')
# plt.xlabel('Popularidad')
# plt.ylabel('Densidad')

plt.legend()

plt.show()
# Interpretación de los valores

print(f"kurtosis: {kurtosis_valor:.2f}")
print(f"simetria: {simetria_valor:.2f}")

if kurtosis_valor > 0:
    print("La distribución es leptocúrtica, lo que sugiere colas pesadas y picos agudos.")
elif kurtosis_valor < 0:
    print("La distribución es platicúrtica, lo que sugiere colas ligeras y un pico achatado.")
else:
    print("La distribución es mesocúrtica, similar a una distribución normal.")

if simetria_valor < 0:
    print("La distribución es asimétrica positiva (sesgo hacia la derecha).")
elif simetria_valor > 0:
    print("La distribución es asimétrica negativa (sesgo hacia la izquierda).")
else:
    print("La distribución es perfectamente simétrica alrededor de su media.")

In [ ]:
asim = stats.skew(df['precio_compra_por_area'])

print("Asim precio_compra:", asim)

In [ ]:
kurtosis = stats.kurtosis(df['precio_compra_por_area'])
kurtosis

In [ ]:
df_cuant_nuevo = df.select_dtypes(include='number')
graficos_variables_cuant(df_cuant_nuevo)