In [64]:
import pandas as pd
import numpy as np

In [65]:
df = pd.read_csv(r'C:\Users\ortiz\OneDrive\Documents\GitHub\DS_PT_09_2023\EDA\Madrid_real_state\houses_Madrid.csv', index_col='Unnamed: 0')
df = df.sort_index(axis= 1)

In [66]:
df.head()

,are_pets_allowed,built_year,buy_price,buy_price_by_area,door,energy_certificate,floor,has_ac,has_balcony,has_central_heating,...,raw_address,rent_price,rent_price_by_area,sq_mt_allotment,sq_mt_built,sq_mt_useful,street_name,street_number,subtitle,title
0,NaN,1960.0,85000,1328,NaN,D,3,True,NaN,NaN,...,"Calle de Godella, 64",471,NaN,NaN,64.0,60.0,Calle de Godella,64,"San Cristóbal, Madrid","Piso en venta en calle de Godella, 64"
1,NaN,NaN,129900,1856,NaN,en trámite,4,NaN,NaN,NaN,...,Calle de la del Manojo de Rosas,666,NaN,NaN,70.0,NaN,Calle de la del Manojo de Rosas,NaN,"Los Ángeles, Madrid",Piso en venta en calle de la del Manojo de Rosas
2,NaN,NaN,144247,1535,NaN,no indicado,1,NaN,NaN,False,...,"Calle del Talco, 68",722,NaN,NaN,94.0,54.0,Calle del Talco,68,"San Andrés, Madrid","Piso en venta en calle del Talco, 68"
3,NaN,1955.0,109900,1717,NaN,en trámite,Bajo,NaN,NaN,NaN,...,Calle Pedro Jiménez,583,NaN,NaN,64.0,NaN,Calle Pedro Jiménez,NaN,"San Andrés, Madrid",Piso en venta en calle Pedro Jiménez
4,NaN,2003.0,260000,2407,NaN,en trámite,4,True,NaN,NaN,...,Carretera de Villaverde a Vallecas,1094,NaN,NaN,108.0,90.0,Carretera de Villaverde a Vallecas,NaN,"Los Rosales, Madrid",Piso en venta en carretera de Villaverde a Val...

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21742 entries, 0 to 21741
Data columns (total 57 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   are_pets_allowed              0 non-null      float64
 1   built_year                    10000 non-null  float64
 2   buy_price                     21742 non-null  int64
 3   buy_price_by_area             21742 non-null  int64
 4   door                          0 non-null      float64
 5   energy_certificate            21742 non-null  object
 6   floor                         19135 non-null  object
 7   has_ac                        11211 non-null  object
 8   has_balcony                   3321 non-null   object
 9   has_central_heating           13608 non-null  object
 10  has_fitted_wardrobes          13399 non-null  object
 11  has_garden                    1556 non-null   object
 12  has_green_zones               4057 non-null   object
 13  has_individual_heating        13608 non-null  object
 14  has_lift                      19356 non-null  object
 15  has_parking                   21742 non-null  bool
 16  has_pool                      5171 non-null   object
 17  has_private_parking           0 non-null      float64
 18  has_public_parking            0 non-null      float64
 19  has_storage_room              7698 non-null   object
 20  has_terrace                   9548 non-null   object
 21  house_type_id                 21351 non-null  object
 22  id                            21742 non-null  int64
 23  is_accessible                 4074 non-null   object
 24  is_buy_price_known            21742 non-null  bool
 25  is_exact_address_hidden       21742 non-null  bool
 26  is_exterior                   18699 non-null  object
 27  is_floor_under                20572 non-null  object
 28  is_furnished                  0 non-null      float64
 29  is_kitchen_equipped           0 non-null      float64
 30  is_new_development            20750 non-null  object
 31  is_orientation_east           11358 non-null  object
 32  is_orientation_north          11358 non-null  object
 33  is_orientation_south          11358 non-null  object
 34  is_orientation_west           11358 non-null  object
 35  is_parking_included_in_price  7719 non-null   object
 36  is_renewal_needed             21742 non-null  bool
 37  is_rent_price_known           21742 non-null  bool
 38  latitude                      0 non-null      float64
 39  longitude                     0 non-null      float64
 40  n_bathrooms                   21726 non-null  float64
 41  n_floors                      1437 non-null   float64
 42  n_rooms                       21742 non-null  int64
 43  neighborhood_id               21742 non-null  object
 44  operation                     21742 non-null  object
 45  parking_price                 7719 non-null   float64
 46  portal                        0 non-null      float64
 47  raw_address                   16277 non-null  object
 48  rent_price                    21742 non-null  int64
 49  rent_price_by_area            0 non-null      float64
 50  sq_mt_allotment               1432 non-null   float64
 51  sq_mt_built                   21616 non-null  float64
 52  sq_mt_useful                  8228 non-null   float64
 53  street_name                   15837 non-null  object
 54  street_number                 6300 non-null   object
 55  subtitle                      21742 non-null  object
 56  title                         21742 non-null  object
dtypes: bool(5), float64(17), int64(5), object(30)
memory usage: 8.9+ MB

In [68]:
df.columns

Index(['are_pets_allowed', 'built_year', 'buy_price', 'buy_price_by_area',
       'door', 'energy_certificate', 'floor', 'has_ac', 'has_balcony',
       'has_central_heating', 'has_fitted_wardrobes', 'has_garden',
       'has_green_zones', 'has_individual_heating', 'has_lift', 'has_parking',
       'has_pool', 'has_private_parking', 'has_public_parking',
       'has_storage_room', 'has_terrace', 'house_type_id', 'id',
       'is_accessible', 'is_buy_price_known', 'is_exact_address_hidden',
       'is_exterior', 'is_floor_under', 'is_furnished', 'is_kitchen_equipped',
       'is_new_development', 'is_orientation_east', 'is_orientation_north',
       'is_orientation_south', 'is_orientation_west',
       'is_parking_included_in_price', 'is_renewal_needed',
       'is_rent_price_known', 'latitude', 'longitude', 'n_bathrooms',
       'n_floors', 'n_rooms', 'neighborhood_id', 'operation', 'parking_price',
       'portal', 'raw_address', 'rent_price', 'rent_price_by_area',
       'sq_mt_allotment', 'sq_mt_built', 'sq_mt_useful', 'street_name',
       'street_number', 'subtitle', 'title'],
      dtype='object')

In [69]:
df.drop(columns=['latitude', 'longitude', 'portal', 'door', 'rent_price_by_area', 'are_pets_allowed', 'is_furnished',
                    'is_kitchen_equipped', 'has_private_parking', 'has_public_parking', 'sq_mt_useful', 'n_floors',
                    'sq_mt_allotment', 'raw_address', 'is_exact_address_hidden', 'street_name', 'street_number', 'is_buy_price_known',
                    'is_parking_included_in_price', 'is_rent_price_known'
                    ], axis=1, inplace = True)

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21742 entries, 0 to 21741
Data columns (total 37 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   built_year              10000 non-null  float64
 1   buy_price               21742 non-null  int64
 2   buy_price_by_area       21742 non-null  int64
 3   energy_certificate      21742 non-null  object
 4   floor                   19135 non-null  object
 5   has_ac                  11211 non-null  object
 6   has_balcony             3321 non-null   object
 7   has_central_heating     13608 non-null  object
 8   has_fitted_wardrobes    13399 non-null  object
 9   has_garden              1556 non-null   object
 10  has_green_zones         4057 non-null   object
 11  has_individual_heating  13608 non-null  object
 12  has_lift                19356 non-null  object
 13  has_parking             21742 non-null  bool
 14  has_pool                5171 non-null   object
 15  has_storage_room        7698 non-null   object
 16  has_terrace             9548 non-null   object
 17  house_type_id           21351 non-null  object
 18  id                      21742 non-null  int64
 19  is_accessible           4074 non-null   object
 20  is_exterior             18699 non-null  object
 21  is_floor_under          20572 non-null  object
 22  is_new_development      20750 non-null  object
 23  is_orientation_east     11358 non-null  object
 24  is_orientation_north    11358 non-null  object
 25  is_orientation_south    11358 non-null  object
 26  is_orientation_west     11358 non-null  object
 27  is_renewal_needed       21742 non-null  bool
 28  n_bathrooms             21726 non-null  float64
 29  n_rooms                 21742 non-null  int64
 30  neighborhood_id         21742 non-null  object
 31  operation               21742 non-null  object
 32  parking_price           7719 non-null   float64
 33  rent_price              21742 non-null  int64
 34  sq_mt_built             21616 non-null  float64
 35  subtitle                21742 non-null  object
 36  title                   21742 non-null  object
dtypes: bool(2), float64(4), int64(5), object(26)
memory usage: 6.0+ MB

In [72]:
df.columns

Index(['built_year', 'buy_price', 'buy_price_by_area', 'energy_certificate',
       'floor', 'has_ac', 'has_balcony', 'has_central_heating',
       'has_fitted_wardrobes', 'has_garden', 'has_green_zones',
       'has_individual_heating', 'has_lift', 'has_parking', 'has_pool',
       'has_storage_room', 'has_terrace', 'house_type_id', 'id',
       'is_accessible', 'is_exterior', 'is_floor_under', 'is_new_development',
       'is_orientation_east', 'is_orientation_north', 'is_orientation_south',
       'is_orientation_west', 'is_renewal_needed', 'n_bathrooms', 'n_rooms',
       'neighborhood_id', 'operation', 'parking_price', 'rent_price',
       'sq_mt_built', 'subtitle', 'title'],
      dtype='object')

In [91]:
# ['built_year', 'buy_price', 'buy_price_by_area', 'energy_certificate',
#        'floor', 'has_ac', 'has_balcony', 'has_central_heating',
#        'has_fitted_wardrobes', 'has_garden', 'has_green_zones',
#        'has_individual_heating', 'has_lift', 'has_parking', 'has_pool',
#        'has_storage_room', 'has_terrace', 'house_type_id', 'id',
#        'is_accessible', 'is_exterior', 'is_floor_under', 'is_new_development',
#        'is_orientation_east', 'is_orientation_north', 'is_orientation_south',
#        'is_orientation_west', 'is_renewal_needed', 'n_bathrooms', 'n_rooms',
#        'neighborhood_id', 'operation', 'parking_price', 'rent_price',
#        'sq_mt_built', 'subtitle', 'title']

df.columns = ['anno_construccion', 'precio_compra', 'precio_compra_por_area', 'cee',
       'piso', 'aire_a', 'balcon', 'calefaccion_central',
       'armarios_empotrador', 'jardin', 'zonas_verdes',
       'calefaccion_individual', 'ascensor', 'estacionamiento', 'pileta',
       'trastero', 'terraza', 'tipo_inmueble', 'id',
       'accesible', 'exterior', 'bajo', 'nuevo_desarrollo',
       'orientacion_este', 'orientacion_norte', 'orientacion_sur',
       'orientacion_oeste', 'necesita_reforma', 'bannos', 'habitaciones',
       'barrio_id', 'operacion', 'precio_estacionamiento', 'precio_alquiler',
       'metros_cuadrados', 'ubicacion', 'anuncio']

In [92]:
df.columns

Index(['anno_construccion', 'precio_compra', 'precio_compra_por_area', 'cee',
       'piso', 'aire_a', 'balcon', 'calefaccion_central',
       'armarios_empotrador', 'jardin', 'zonas_verdes',
       'calefaccion_individual', 'ascensor', 'estacionamiento', 'pileta',
       'trastero', 'terraza', 'tipo_inmueble', 'id', 'accesible', 'exterior',
       'bajo', 'nuevo_desarrollo', 'orientacion_este', 'orientacion_norte',
       'orientacion_sur', 'orientacion_oeste', 'necesita_reforma', 'bannos',
       'habitaciones', 'barrio_id', 'operacion', 'precio_estacionamiento',
       'precio_alquiler', 'metros_cuadrados', 'ubicacion', 'anuncio'],
      dtype='object')

In [93]:
df.filter(['orientacion_norte','orientacion_este','orientacion_sur', 'orientacion_oeste'])

      orientacion_norte orientacion_este orientacion_sur orientacion_oeste
0                 False            False           False              True
1                   NaN              NaN             NaN               NaN
2                   NaN              NaN             NaN               NaN
3                 False            False            True             False
4                  True             True            True              True
...                 ...              ...             ...               ...
21737               NaN              NaN             NaN               NaN
21738             False             True            True              True
21739               NaN              NaN             NaN               NaN
21740             False            False            True             False
21741               NaN              NaN             NaN               NaN

[21742 rows x 4 columns]

In [94]:
df[df['orientacion_norte'].isna() | df['orientacion_este'].isna() | df['orientacion_sur'].isna() | df['orientacion_oeste'].isna()].shape

(10384, 37)

In [95]:
df.groupby('ubicacion', as_index=False)[['orientacion_norte', 'orientacion_este', 'orientacion_sur', 'orientacion_oeste']].count()

,ubicacion,orientacion_norte,orientacion_este,orientacion_sur,orientacion_oeste
0,"12 de Octubre-Orcasur, Madrid",19,19,19,19
1,"Abrantes, Madrid",76,76,76,76
2,"Acacias, Madrid",95,95,95,95
3,"Adelfas, Madrid",42,42,42,42
4,"Alameda de Osuna, Madrid",5,5,5,5
...,...,...,...,...,...
141,"Vinateros, Madrid",23,23,23,23
142,"Virgen del Cortijo - Manoteras, Madrid",26,26,26,26
143,"Vista Alegre, Madrid",94,94,94,94
144,"Zofío, Madrid",30,30,30,30
145,"Águilas, Madrid",52,52,52,52

In [96]:
for i in df.select_dtypes(include=object):
    print(f"La cardinalidad de la variable {i} es {(df[i].nunique()/df.shape[0])*100:.2f} %")

La cardinalidad de la variable cee es 0.05 %
La cardinalidad de la variable piso es 0.09 %
La cardinalidad de la variable aire_a es 0.00 %
La cardinalidad de la variable balcon es 0.00 %
La cardinalidad de la variable calefaccion_central es 0.01 %
La cardinalidad de la variable armarios_empotrador es 0.00 %
La cardinalidad de la variable jardin es 0.00 %
La cardinalidad de la variable zonas_verdes es 0.00 %
La cardinalidad de la variable calefaccion_individual es 0.01 %
La cardinalidad de la variable ascensor es 0.01 %
La cardinalidad de la variable pileta es 0.00 %
La cardinalidad de la variable trastero es 0.00 %
La cardinalidad de la variable terraza es 0.00 %
La cardinalidad de la variable tipo_inmueble es 0.02 %
La cardinalidad de la variable accesible es 0.00 %
La cardinalidad de la variable exterior es 0.01 %
La cardinalidad de la variable bajo es 0.01 %
La cardinalidad de la variable nuevo_desarrollo es 0.01 %
La cardinalidad de la variable orientacion_este es 0.01 %
La cardinalidad de la variable orientacion_norte es 0.01 %
La cardinalidad de la variable orientacion_sur es 0.01 %
La cardinalidad de la variable orientacion_oeste es 0.01 %
La cardinalidad de la variable barrio_id es 0.58 %
La cardinalidad de la variable operacion es 0.00 %
La cardinalidad de la variable ubicacion es 0.67 %
La cardinalidad de la variable anuncio es 49.38 %

In [97]:
df['cee'].unique()

array(['D', 'en trámite', 'no indicado', 'F', 'E', 'inmueble exento', 'B',
       'A', 'G', 'C'], dtype=object)

In [98]:
df['accesible'].unique()

array([nan, True], dtype=object)

In [99]:
df[(df['necesita_reforma'] == True) | (df['nuevo_desarrollo'] == True)][['necesita_reforma', 'nuevo_desarrollo', 'anno_construccion']]

       necesita_reforma nuevo_desarrollo  anno_construccion
1                  True            False                NaN
9                  True            False             1950.0
10                 True            False             1963.0
18                 True            False                NaN
22                 True            False                NaN
...                 ...              ...                ...
21683              True            False             1975.0
21699              True            False             1954.0
21704              True            False             1955.0
21709              True            False             1940.0
21741             False             True                NaN

[5464 rows x 3 columns]

In [102]:
df['aire_a'].unique()

array([True, nan], dtype=object)