In [521]:
import pandas as pd
import numpy as np

In [522]:
data = pd.read_csv(r'D:\Documentos\2.CURSOS\BOOTCAMP\DS_PT_09_2023\EDA\Madrid_real_state\houses_Madrid.csv', index_col='Unnamed: 0')
data = data.sort_index(axis= 1)

In [523]:
data.head()

,are_pets_allowed,built_year,buy_price,buy_price_by_area,door,energy_certificate,floor,has_ac,has_balcony,has_central_heating,...,raw_address,rent_price,rent_price_by_area,sq_mt_allotment,sq_mt_built,sq_mt_useful,street_name,street_number,subtitle,title
0,NaN,1960.0,85000,1328,NaN,D,3,True,NaN,NaN,...,"Calle de Godella, 64",471,NaN,NaN,64.0,60.0,Calle de Godella,64,"San Cristóbal, Madrid","Piso en venta en calle de Godella, 64"
1,NaN,NaN,129900,1856,NaN,en trámite,4,NaN,NaN,NaN,...,Calle de la del Manojo de Rosas,666,NaN,NaN,70.0,NaN,Calle de la del Manojo de Rosas,NaN,"Los Ángeles, Madrid",Piso en venta en calle de la del Manojo de Rosas
2,NaN,NaN,144247,1535,NaN,no indicado,1,NaN,NaN,False,...,"Calle del Talco, 68",722,NaN,NaN,94.0,54.0,Calle del Talco,68,"San Andrés, Madrid","Piso en venta en calle del Talco, 68"
3,NaN,1955.0,109900,1717,NaN,en trámite,Bajo,NaN,NaN,NaN,...,Calle Pedro Jiménez,583,NaN,NaN,64.0,NaN,Calle Pedro Jiménez,NaN,"San Andrés, Madrid",Piso en venta en calle Pedro Jiménez
4,NaN,2003.0,260000,2407,NaN,en trámite,4,True,NaN,NaN,...,Carretera de Villaverde a Vallecas,1094,NaN,NaN,108.0,90.0,Carretera de Villaverde a Vallecas,NaN,"Los Rosales, Madrid",Piso en venta en carretera de Villaverde a Val...

In [524]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21742 entries, 0 to 21741
Data columns (total 57 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   are_pets_allowed              0 non-null      float64
 1   built_year                    10000 non-null  float64
 2   buy_price                     21742 non-null  int64
 3   buy_price_by_area             21742 non-null  int64
 4   door                          0 non-null      float64
 5   energy_certificate            21742 non-null  object
 6   floor                         19135 non-null  object
 7   has_ac                        11211 non-null  object
 8   has_balcony                   3321 non-null   object
 9   has_central_heating           13608 non-null  object
 10  has_fitted_wardrobes          13399 non-null  object
 11  has_garden                    1556 non-null   object
 12  has_green_zones               4057 non-null   object
 13  has_individual_heating        13608 non-null  object
 14  has_lift                      19356 non-null  object
 15  has_parking                   21742 non-null  bool
 16  has_pool                      5171 non-null   object
 17  has_private_parking           0 non-null      float64
 18  has_public_parking            0 non-null      float64
 19  has_storage_room              7698 non-null   object
 20  has_terrace                   9548 non-null   object
 21  house_type_id                 21351 non-null  object
 22  id                            21742 non-null  int64
 23  is_accessible                 4074 non-null   object
 24  is_buy_price_known            21742 non-null  bool
 25  is_exact_address_hidden       21742 non-null  bool
 26  is_exterior                   18699 non-null  object
 27  is_floor_under                20572 non-null  object
 28  is_furnished                  0 non-null      float64
 29  is_kitchen_equipped           0 non-null      float64
 30  is_new_development            20750 non-null  object
 31  is_orientation_east           11358 non-null  object
 32  is_orientation_north          11358 non-null  object
 33  is_orientation_south          11358 non-null  object
 34  is_orientation_west           11358 non-null  object
 35  is_parking_included_in_price  7719 non-null   object
 36  is_renewal_needed             21742 non-null  bool
 37  is_rent_price_known           21742 non-null  bool
 38  latitude                      0 non-null      float64
 39  longitude                     0 non-null      float64
 40  n_bathrooms                   21726 non-null  float64
 41  n_floors                      1437 non-null   float64
 42  n_rooms                       21742 non-null  int64
 43  neighborhood_id               21742 non-null  object
 44  operation                     21742 non-null  object
 45  parking_price                 7719 non-null   float64
 46  portal                        0 non-null      float64
 47  raw_address                   16277 non-null  object
 48  rent_price                    21742 non-null  int64
 49  rent_price_by_area            0 non-null      float64
 50  sq_mt_allotment               1432 non-null   float64
 51  sq_mt_built                   21616 non-null  float64
 52  sq_mt_useful                  8228 non-null   float64
 53  street_name                   15837 non-null  object
 54  street_number                 6300 non-null   object
 55  subtitle                      21742 non-null  object
 56  title                         21742 non-null  object
dtypes: bool(5), float64(17), int64(5), object(30)
memory usage: 8.9+ MB

In [525]:
data.columns

Index(['are_pets_allowed', 'built_year', 'buy_price', 'buy_price_by_area',
       'door', 'energy_certificate', 'floor', 'has_ac', 'has_balcony',
       'has_central_heating', 'has_fitted_wardrobes', 'has_garden',
       'has_green_zones', 'has_individual_heating', 'has_lift', 'has_parking',
       'has_pool', 'has_private_parking', 'has_public_parking',
       'has_storage_room', 'has_terrace', 'house_type_id', 'id',
       'is_accessible', 'is_buy_price_known', 'is_exact_address_hidden',
       'is_exterior', 'is_floor_under', 'is_furnished', 'is_kitchen_equipped',
       'is_new_development', 'is_orientation_east', 'is_orientation_north',
       'is_orientation_south', 'is_orientation_west',
       'is_parking_included_in_price', 'is_renewal_needed',
       'is_rent_price_known', 'latitude', 'longitude', 'n_bathrooms',
       'n_floors', 'n_rooms', 'neighborhood_id', 'operation', 'parking_price',
       'portal', 'raw_address', 'rent_price', 'rent_price_by_area',
       'sq_mt_allotment', 'sq_mt_built', 'sq_mt_useful', 'street_name',
       'street_number', 'subtitle', 'title'],
      dtype='object')

In [526]:
def nombre_columnas(df):
    '''Función para tratar el nombre de las columnas y eliminar las vacias'''
    try:
        df.drop(columns=['latitude', 'longitude', 'portal', 'door', 'rent_price_by_area', 'are_pets_allowed', 'is_furnished',
                    'is_kitchen_equipped', 'has_private_parking', 'has_public_parking', 'sq_mt_useful', 'n_floors',
                    'sq_mt_allotment', 'raw_address', 'is_exact_address_hidden', 'street_name', 'street_number', 'is_buy_price_known',
                    'is_parking_included_in_price', 'is_rent_price_known', 'operation', 'is_new_development'
                    ], axis=1, inplace = True)
        
        df.columns = ['annio_construccion', 'precio_compra', 'precio_compra_por_area', 'cee',
       'piso', 'aire_a', 'balcon', 'calefaccion_central',
       'armarios_empotrados', 'jardin', 'zonas_verdes',
       'calefaccion_individual', 'ascensor', 'estacionamiento', 'pileta',
       'trastero', 'terraza', 'tipo_inmueble', 'id',
       'accesible', 'exterior', 'bajo',
       'orientacion_este', 'orientacion_norte', 'orientacion_sur',
       'orientacion_oeste', 'necesita_reforma', 'bannos', 'habitaciones',
       'barrio_id', 'precio_estacionamiento', 'precio_alquiler',
       'metros_cuadrados', 'ubicacion', 'anuncio']
    except Exception as a:
        print(f"No pude tranformar las columnas por {a}")
    return df

In [527]:
df = nombre_columnas(data)
df.head()

,annio_construccion,precio_compra,precio_compra_por_area,cee,piso,aire_a,balcon,calefaccion_central,armarios_empotrados,jardin,...,orientacion_oeste,necesita_reforma,bannos,habitaciones,barrio_id,precio_estacionamiento,precio_alquiler,metros_cuadrados,ubicacion,anuncio
0,1960.0,85000,1328,D,3,True,NaN,NaN,NaN,NaN,...,True,False,1.0,2,Neighborhood 135: San Cristóbal (1308.89 €/m2)...,NaN,471,64.0,"San Cristóbal, Madrid","Piso en venta en calle de Godella, 64"
1,NaN,129900,1856,en trámite,4,NaN,NaN,NaN,True,NaN,...,NaN,True,1.0,3,Neighborhood 132: Los Ángeles (1796.68 €/m2) -...,NaN,666,70.0,"Los Ángeles, Madrid",Piso en venta en calle de la del Manojo de Rosas
2,NaN,144247,1535,no indicado,1,NaN,NaN,False,True,NaN,...,NaN,False,2.0,2,Neighborhood 134: San Andrés (1617.18 €/m2) - ...,NaN,722,94.0,"San Andrés, Madrid","Piso en venta en calle del Talco, 68"
3,1955.0,109900,1717,en trámite,Bajo,NaN,NaN,NaN,NaN,NaN,...,False,False,1.0,2,Neighborhood 134: San Andrés (1617.18 €/m2) - ...,NaN,583,64.0,"San Andrés, Madrid",Piso en venta en calle Pedro Jiménez
4,2003.0,260000,2407,en trámite,4,True,NaN,NaN,True,NaN,...,True,False,2.0,2,Neighborhood 133: Los Rosales (1827.79 €/m2) -...,0.0,1094,108.0,"Los Rosales, Madrid",Piso en venta en carretera de Villaverde a Val...

In [528]:
len(df.columns) #ya tengo 9 tratadas que son las que solo tienen un valor True y lo demás es False

35

In [529]:
def rellenar_columnas_F(data):
    ''' Función que rellena las columnas que tienen valor true y nan'''
    try:
        df['zonas_verdes'].replace(np.nan, False,inplace=True)
        df['aire_a'].replace(np.nan, False,inplace=True)
        df['balcon'].replace(np.nan, False,inplace=True)
        df['armarios_empotrados'].replace(np.nan, False,inplace=True)
        df['jardin'].replace(np.nan, False,inplace=True)
        df['pileta'].replace(np.nan, False,inplace=True)
        df['trastero'].replace(np.nan, False,inplace=True)
        df['terraza'].replace(np.nan, False,inplace=True)
        df['accesible'].replace(np.nan, False,inplace=True)
    except Exception as a:
        print(f"No pude rellenar las columnas por {a}")
    return data

In [530]:
df = rellenar_columnas_F(df)

In [531]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21742 entries, 0 to 21741
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   annio_construccion      10000 non-null  float64
 1   precio_compra           21742 non-null  int64
 2   precio_compra_por_area  21742 non-null  int64
 3   cee                     21742 non-null  object
 4   piso                    19135 non-null  object
 5   aire_a                  21742 non-null  bool
 6   balcon                  21742 non-null  bool
 7   calefaccion_central     13608 non-null  object
 8   armarios_empotrados     21742 non-null  bool
 9   jardin                  21742 non-null  bool
 10  zonas_verdes            21742 non-null  bool
 11  calefaccion_individual  13608 non-null  object
 12  ascensor                19356 non-null  object
 13  estacionamiento         21742 non-null  bool
 14  pileta                  21742 non-null  bool
 15  trastero                21742 non-null  bool
 16  terraza                 21742 non-null  bool
 17  tipo_inmueble           21351 non-null  object
 18  id                      21742 non-null  int64
 19  accesible               21742 non-null  bool
 20  exterior                18699 non-null  object
 21  bajo                    20572 non-null  object
 22  orientacion_este        11358 non-null  object
 23  orientacion_norte       11358 non-null  object
 24  orientacion_sur         11358 non-null  object
 25  orientacion_oeste       11358 non-null  object
 26  necesita_reforma        21742 non-null  bool
 27  bannos                  21726 non-null  float64
 28  habitaciones            21742 non-null  int64
 29  barrio_id               21742 non-null  object
 30  precio_estacionamiento  7719 non-null   float64
 31  precio_alquiler         21742 non-null  int64
 32  metros_cuadrados        21616 non-null  float64
 33  ubicacion               21742 non-null  object
 34  anuncio                 21742 non-null  object
dtypes: bool(11), float64(4), int64(5), object(15)
memory usage: 4.4+ MB

In [532]:
def rellenar_annios_nulos_necesitan_reforma(df):
    '''Función para rellenar los annios que vienen nulos'''
    try:
        #diccionario para ver si tenemos todos las ubicaciones o no
        dicc_annios_antiguos = df[(df['necesita_reforma'] == True) & (df['annio_construccion'].notna())].groupby('ubicacion')[['annio_construccion']].mean(numeric_only = True).astype(int).reset_index().to_dict('records')
        
        #agrega las ubicaciones que no existen, asignando la media de los inmuebles que necesitan reforma
        dicc_annios_antiguos = dicc_annios_antiguos + [{'ubicacion': 'Horcajo, Madrid', 'annio_construccion': 1957}, 
                   {'ubicacion': 'Valdebebas - Valdefuentes, Madrid', 'annio_construccion': 1957},
                   {'ubicacion': 'Virgen del Cortijo - Manoteras, Madrid', 'annio_construccion': 1957}]
        
        df_annios_antiguos = pd.DataFrame(dicc_annios_antiguos)
        df_unido = pd.merge(df,df_annios_antiguos, on='ubicacion', how = 'left')

        #asigna el valor de el annio en base a la la ubicacion
        df_unido['annio_construccion'] = df_unido.apply(lambda x: x.annio_construccion_y if ((x.necesita_reforma == True) & (pd.isna(x.annio_construccion_x))) else x.annio_construccion_x, axis = 1)

        df = df_unido.drop(columns=['annio_construccion_y', 'annio_construccion_x'], axis = 1)
    
    except Exception as a:
        print(f"No pude transformar el df por {a}")

    return df

In [533]:
def rellenar_annios_nulos_no_necesitan_reforma(df):
    '''Función para rellenar los annios que vienen nulos'''
    try:
        #diccionario para ver si tenemos todos las ubicaciones o no
        dicc_annios_nuevo = df[(df['necesita_reforma'] == False) & (df['annio_construccion'].notna())].groupby('ubicacion')[['annio_construccion']].mean(numeric_only = True).astype(int).reset_index().to_dict('records')
        
        #agrega las ubicaciones que no existen, asignando la media de los inmuebles que no necesitan reforma
        dicc_annios_nuevo = dicc_annios_nuevo + [{'ubicacion': 'Cuatro Vientos, Madrid', 'annio_construccion': 1973}]
        
        df_annios_nuevo = pd.DataFrame(dicc_annios_nuevo)
        df_unido_nuevo = pd.merge(df,df_annios_nuevo, on='ubicacion', how='left')

        #asigna el valor de el annio en base a la la ubicacion
        df_unido_nuevo['annio_construccion'] = df_unido_nuevo.apply(lambda x: x.annio_construccion_y if ((x.necesita_reforma == False) & (pd.isna(x.annio_construccion_x))) else x.annio_construccion_x, axis = 1)

        df = df_unido_nuevo.drop(columns=['annio_construccion_x', 'annio_construccion_y'], axis = 1)
    
    except Exception as a:
        print(f"No pude transformar el df por {a}")

    return df

In [534]:
df = rellenar_annios_nulos_necesitan_reforma(df)
df = rellenar_annios_nulos_no_necesitan_reforma(df)

In [535]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21742 entries, 0 to 21741
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   precio_compra           21742 non-null  int64
 1   precio_compra_por_area  21742 non-null  int64
 2   cee                     21742 non-null  object
 3   piso                    19135 non-null  object
 4   aire_a                  21742 non-null  bool
 5   balcon                  21742 non-null  bool
 6   calefaccion_central     13608 non-null  object
 7   armarios_empotrados     21742 non-null  bool
 8   jardin                  21742 non-null  bool
 9   zonas_verdes            21742 non-null  bool
 10  calefaccion_individual  13608 non-null  object
 11  ascensor                19356 non-null  object
 12  estacionamiento         21742 non-null  bool
 13  pileta                  21742 non-null  bool
 14  trastero                21742 non-null  bool
 15  terraza                 21742 non-null  bool
 16  tipo_inmueble           21351 non-null  object
 17  id                      21742 non-null  int64
 18  accesible               21742 non-null  bool
 19  exterior                18699 non-null  object
 20  bajo                    20572 non-null  object
 21  orientacion_este        11358 non-null  object
 22  orientacion_norte       11358 non-null  object
 23  orientacion_sur         11358 non-null  object
 24  orientacion_oeste       11358 non-null  object
 25  necesita_reforma        21742 non-null  bool
 26  bannos                  21726 non-null  float64
 27  habitaciones            21742 non-null  int64
 28  barrio_id               21742 non-null  object
 29  precio_estacionamiento  7719 non-null   float64
 30  precio_alquiler         21742 non-null  int64
 31  metros_cuadrados        21616 non-null  float64
 32  ubicacion               21742 non-null  object
 33  anuncio                 21742 non-null  object
 34  annio_construccion      21742 non-null  float64
dtypes: bool(11), float64(4), int64(5), object(15)
memory usage: 4.2+ MB

In [536]:
def rellenar_pisos_nulos(df):
    '''Funcion para rellenar los valores nulos de los pisos, con la moda segun la ubicacion'''
    try:
        #df el piso que más se repite, respetando las alturas por ubicacion segun normativa
        df_piso_más_comun = df[df['piso'].notna()].groupby(['ubicacion', 'piso'], as_index=False).count()[['ubicacion', 'piso']].groupby('ubicacion', as_index=False).max()

        df_unido_pisos = pd.merge(df,df_piso_más_comun, on='ubicacion', how= 'inner')

        df_unido_pisos['piso'] = df_unido_pisos.apply(lambda x: x.piso_y if pd.isna(x.piso_x) else x.piso_x, axis = 1)

        df = df_unido_pisos.drop(columns=['piso_x', 'piso_y'], axis = 1)
    except Exception as a:
        print(f"No pude transformar el df por {a}")
    return df

In [537]:
df = rellenar_pisos_nulos(df)

In [538]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21742 entries, 0 to 21741
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   precio_compra           21742 non-null  int64
 1   precio_compra_por_area  21742 non-null  int64
 2   cee                     21742 non-null  object
 3   aire_a                  21742 non-null  bool
 4   balcon                  21742 non-null  bool
 5   calefaccion_central     13608 non-null  object
 6   armarios_empotrados     21742 non-null  bool
 7   jardin                  21742 non-null  bool
 8   zonas_verdes            21742 non-null  bool
 9   calefaccion_individual  13608 non-null  object
 10  ascensor                19356 non-null  object
 11  estacionamiento         21742 non-null  bool
 12  pileta                  21742 non-null  bool
 13  trastero                21742 non-null  bool
 14  terraza                 21742 non-null  bool
 15  tipo_inmueble           21351 non-null  object
 16  id                      21742 non-null  int64
 17  accesible               21742 non-null  bool
 18  exterior                18699 non-null  object
 19  bajo                    20572 non-null  object
 20  orientacion_este        11358 non-null  object
 21  orientacion_norte       11358 non-null  object
 22  orientacion_sur         11358 non-null  object
 23  orientacion_oeste       11358 non-null  object
 24  necesita_reforma        21742 non-null  bool
 25  bannos                  21726 non-null  float64
 26  habitaciones            21742 non-null  int64
 27  barrio_id               21742 non-null  object
 28  precio_estacionamiento  7719 non-null   float64
 29  precio_alquiler         21742 non-null  int64
 30  metros_cuadrados        21616 non-null  float64
 31  ubicacion               21742 non-null  object
 32  anuncio                 21742 non-null  object
 33  annio_construccion      21742 non-null  float64
 34  piso                    21742 non-null  object
dtypes: bool(11), float64(4), int64(5), object(15)
memory usage: 4.2+ MB

In [539]:
def rellenar_bajos_nulos(df):
    '''Funcion que rellena los valores nulos en la columna bajo en base al piso en el que se encuentra'''
    try:
        bajos = ('Semi-sótano', 'Entreplanta interior', 'Entreplanta', 'Semi-sótano exterior', 'Semi-sótano interior', 'Sótano interior', 'Sótano', 'Sótano exterior')

        df['bajo'] = df['piso'].apply(lambda x: True if x in bajos else False)

    except Exception as a:
        print(f"No puse tranformar el df por {a}")
    
    return df

In [541]:
df = rellenar_bajos_nulos(df)

In [542]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21742 entries, 0 to 21741
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   precio_compra           21742 non-null  int64
 1   precio_compra_por_area  21742 non-null  int64
 2   cee                     21742 non-null  object
 3   aire_a                  21742 non-null  bool
 4   balcon                  21742 non-null  bool
 5   calefaccion_central     13608 non-null  object
 6   armarios_empotrados     21742 non-null  bool
 7   jardin                  21742 non-null  bool
 8   zonas_verdes            21742 non-null  bool
 9   calefaccion_individual  13608 non-null  object
 10  ascensor                19356 non-null  object
 11  estacionamiento         21742 non-null  bool
 12  pileta                  21742 non-null  bool
 13  trastero                21742 non-null  bool
 14  terraza                 21742 non-null  bool
 15  tipo_inmueble           21351 non-null  object
 16  id                      21742 non-null  int64
 17  accesible               21742 non-null  bool
 18  exterior                18699 non-null  object
 19  bajo                    21742 non-null  bool
 20  orientacion_este        11358 non-null  object
 21  orientacion_norte       11358 non-null  object
 22  orientacion_sur         11358 non-null  object
 23  orientacion_oeste       11358 non-null  object
 24  necesita_reforma        21742 non-null  bool
 25  bannos                  21726 non-null  float64
 26  habitaciones            21742 non-null  int64
 27  barrio_id               21742 non-null  object
 28  precio_estacionamiento  7719 non-null   float64
 29  precio_alquiler         21742 non-null  int64
 30  metros_cuadrados        21616 non-null  float64
 31  ubicacion               21742 non-null  object
 32  anuncio                 21742 non-null  object
 33  annio_construccion      21742 non-null  float64
 34  piso                    21742 non-null  object
dtypes: bool(12), float64(4), int64(5), object(14)
memory usage: 4.1+ MB

In [543]:
for i in df.select_dtypes(include=object):
    print(f"La cardinalidad de la variable {i} es {(df[i].nunique()/df.shape[0])*100:.2f} %")

La cardinalidad de la variable cee es 0.05 %
La cardinalidad de la variable calefaccion_central es 0.01 %
La cardinalidad de la variable calefaccion_individual es 0.01 %
La cardinalidad de la variable ascensor es 0.01 %
La cardinalidad de la variable tipo_inmueble es 0.02 %
La cardinalidad de la variable exterior es 0.01 %
La cardinalidad de la variable orientacion_este es 0.01 %
La cardinalidad de la variable orientacion_norte es 0.01 %
La cardinalidad de la variable orientacion_sur es 0.01 %
La cardinalidad de la variable orientacion_oeste es 0.01 %
La cardinalidad de la variable barrio_id es 0.58 %
La cardinalidad de la variable ubicacion es 0.67 %
La cardinalidad de la variable anuncio es 49.38 %
La cardinalidad de la variable piso es 0.09 %