In [88]:
import pandas as pd
import numpy as np

In [110]:
df = pd.read_csv(r'C:\Users\ortiz\OneDrive\Documents\GitHub\DS_PT_09_2023\EDA\Madrid_real_state\houses_Madrid.csv', index_col='Unnamed: 0')
df = df.sort_index(axis= 1)

In [111]:
df.head()

,are_pets_allowed,built_year,buy_price,buy_price_by_area,door,energy_certificate,floor,has_ac,has_balcony,has_central_heating,...,raw_address,rent_price,rent_price_by_area,sq_mt_allotment,sq_mt_built,sq_mt_useful,street_name,street_number,subtitle,title
0,NaN,1960.0,85000,1328,NaN,D,3,True,NaN,NaN,...,"Calle de Godella, 64",471,NaN,NaN,64.0,60.0,Calle de Godella,64,"San Cristóbal, Madrid","Piso en venta en calle de Godella, 64"
1,NaN,NaN,129900,1856,NaN,en trámite,4,NaN,NaN,NaN,...,Calle de la del Manojo de Rosas,666,NaN,NaN,70.0,NaN,Calle de la del Manojo de Rosas,NaN,"Los Ángeles, Madrid",Piso en venta en calle de la del Manojo de Rosas
2,NaN,NaN,144247,1535,NaN,no indicado,1,NaN,NaN,False,...,"Calle del Talco, 68",722,NaN,NaN,94.0,54.0,Calle del Talco,68,"San Andrés, Madrid","Piso en venta en calle del Talco, 68"
3,NaN,1955.0,109900,1717,NaN,en trámite,Bajo,NaN,NaN,NaN,...,Calle Pedro Jiménez,583,NaN,NaN,64.0,NaN,Calle Pedro Jiménez,NaN,"San Andrés, Madrid",Piso en venta en calle Pedro Jiménez
4,NaN,2003.0,260000,2407,NaN,en trámite,4,True,NaN,NaN,...,Carretera de Villaverde a Vallecas,1094,NaN,NaN,108.0,90.0,Carretera de Villaverde a Vallecas,NaN,"Los Rosales, Madrid",Piso en venta en carretera de Villaverde a Val...

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21742 entries, 0 to 21741
Data columns (total 57 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   are_pets_allowed              0 non-null      float64
 1   built_year                    10000 non-null  float64
 2   buy_price                     21742 non-null  int64
 3   buy_price_by_area             21742 non-null  int64
 4   door                          0 non-null      float64
 5   energy_certificate            21742 non-null  object
 6   floor                         19135 non-null  object
 7   has_ac                        11211 non-null  object
 8   has_balcony                   3321 non-null   object
 9   has_central_heating           13608 non-null  object
 10  has_fitted_wardrobes          13399 non-null  object
 11  has_garden                    1556 non-null   object
 12  has_green_zones               4057 non-null   object
 13  has_individual_heating        13608 non-null  object
 14  has_lift                      19356 non-null  object
 15  has_parking                   21742 non-null  bool
 16  has_pool                      5171 non-null   object
 17  has_private_parking           0 non-null      float64
 18  has_public_parking            0 non-null      float64
 19  has_storage_room              7698 non-null   object
 20  has_terrace                   9548 non-null   object
 21  house_type_id                 21351 non-null  object
 22  id                            21742 non-null  int64
 23  is_accessible                 4074 non-null   object
 24  is_buy_price_known            21742 non-null  bool
 25  is_exact_address_hidden       21742 non-null  bool
 26  is_exterior                   18699 non-null  object
 27  is_floor_under                20572 non-null  object
 28  is_furnished                  0 non-null      float64
 29  is_kitchen_equipped           0 non-null      float64
 30  is_new_development            20750 non-null  object
 31  is_orientation_east           11358 non-null  object
 32  is_orientation_north          11358 non-null  object
 33  is_orientation_south          11358 non-null  object
 34  is_orientation_west           11358 non-null  object
 35  is_parking_included_in_price  7719 non-null   object
 36  is_renewal_needed             21742 non-null  bool
 37  is_rent_price_known           21742 non-null  bool
 38  latitude                      0 non-null      float64
 39  longitude                     0 non-null      float64
 40  n_bathrooms                   21726 non-null  float64
 41  n_floors                      1437 non-null   float64
 42  n_rooms                       21742 non-null  int64
 43  neighborhood_id               21742 non-null  object
 44  operation                     21742 non-null  object
 45  parking_price                 7719 non-null   float64
 46  portal                        0 non-null      float64
 47  raw_address                   16277 non-null  object
 48  rent_price                    21742 non-null  int64
 49  rent_price_by_area            0 non-null      float64
 50  sq_mt_allotment               1432 non-null   float64
 51  sq_mt_built                   21616 non-null  float64
 52  sq_mt_useful                  8228 non-null   float64
 53  street_name                   15837 non-null  object
 54  street_number                 6300 non-null   object
 55  subtitle                      21742 non-null  object
 56  title                         21742 non-null  object
dtypes: bool(5), float64(17), int64(5), object(30)
memory usage: 8.9+ MB

In [113]:
df = df.drop(columns=['street_name', 'sq_mt_useful', 'street_number', 'n_floors', 'raw_address', 'sq_mt_allotment',\
                       'latitude', 'longitude', 'portal', 'door', 'rent_price_by_area', 'are_pets_allowed', 'is_furnished',\
                        'is_kitchen_equipped', 'has_private_parking', 'has_public_parking', 'is_exact_address_hidden'], axis=1)

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21742 entries, 0 to 21741
Data columns (total 40 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   built_year                    10000 non-null  float64
 1   buy_price                     21742 non-null  int64
 2   buy_price_by_area             21742 non-null  int64
 3   energy_certificate            21742 non-null  object
 4   floor                         19135 non-null  object
 5   has_ac                        11211 non-null  object
 6   has_balcony                   3321 non-null   object
 7   has_central_heating           13608 non-null  object
 8   has_fitted_wardrobes          13399 non-null  object
 9   has_garden                    1556 non-null   object
 10  has_green_zones               4057 non-null   object
 11  has_individual_heating        13608 non-null  object
 12  has_lift                      19356 non-null  object
 13  has_parking                   21742 non-null  bool
 14  has_pool                      5171 non-null   object
 15  has_storage_room              7698 non-null   object
 16  has_terrace                   9548 non-null   object
 17  house_type_id                 21351 non-null  object
 18  id                            21742 non-null  int64
 19  is_accessible                 4074 non-null   object
 20  is_buy_price_known            21742 non-null  bool
 21  is_exterior                   18699 non-null  object
 22  is_floor_under                20572 non-null  object
 23  is_new_development            20750 non-null  object
 24  is_orientation_east           11358 non-null  object
 25  is_orientation_north          11358 non-null  object
 26  is_orientation_south          11358 non-null  object
 27  is_orientation_west           11358 non-null  object
 28  is_parking_included_in_price  7719 non-null   object
 29  is_renewal_needed             21742 non-null  bool
 30  is_rent_price_known           21742 non-null  bool
 31  n_bathrooms                   21726 non-null  float64
 32  n_rooms                       21742 non-null  int64
 33  neighborhood_id               21742 non-null  object
 34  operation                     21742 non-null  object
 35  parking_price                 7719 non-null   float64
 36  rent_price                    21742 non-null  int64
 37  sq_mt_built                   21616 non-null  float64
 38  subtitle                      21742 non-null  object
 39  title                         21742 non-null  object
dtypes: bool(4), float64(4), int64(5), object(27)
memory usage: 6.2+ MB

In [171]:
df.filter(['is_orientation_north','is_orientation_west','is_orientation_south', 'is_orientation_east'])

,is_orientation_north,is_orientation_west,is_orientation_south,is_orientation_east
0,False,True,False,False
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,False,False,True,False
4,True,True,True,True
...,...,...,...,...
21737,NaN,NaN,NaN,NaN
21738,False,True,True,True
21739,NaN,NaN,NaN,NaN
21740,False,False,True,False
21741,NaN,NaN,NaN,NaN

In [ ]:
df[df['is_orientation_north'].isna() | df['is_orientation_west'].isna() | df['is_orientation_south'].isna()| df.WESF.isna() | df.inclement_weather.isna()]

In [160]:
df['id'].is_unique

True

In [161]:
df.describe(include='object')

,energy_certificate,floor,has_ac,has_balcony,has_central_heating,has_fitted_wardrobes,has_garden,has_green_zones,has_individual_heating,has_lift,...,is_new_development,is_orientation_east,is_orientation_north,is_orientation_south,is_orientation_west,is_parking_included_in_price,neighborhood_id,operation,subtitle,title
count,21742,19135,11211,3321,13608,13399,1556,4057,13608,19356,...,20750,11358,11358,11358,11358,7719,21742,21742,21742,21742
unique,10,19,1,1,2,1,1,1,2,2,...,2,2,2,2,2,2,126,1,146,10736
top,en trámite,1,True,True,False,True,True,True,True,True,...,False,False,False,True,False,True,Neighborhood 23: Malasaña-Universidad (5196.25...,sale,"Chamartín, Madrid",Piso en venta en El Viso
freq,10937,4440,11211,3321,9516,13399,1556,4057,9516,14895,...,19281,6302,8567,5823,7287,7115,485,21742,851,193