# Python | day 2 | collections

Lists, tuples & sets

### Ejercicio 1.

1. Crea
    - una variable de tipo lista llamada **lista_alumnos** que contenga el nombre de tus compañeros de clase.
    - 4 listas diferentes que contengan los nombres de los compañeros sentados en cada mesa de la clase más los que siguen a la clase en remoto.  
    
Si ya no estás en clase y no recuerdas cómo estaba distribuida la clase, utiliza los nombres de tus compañeros y haz 4 listas diferentes con ellos.

Imprime las dos listas creadas.

In [1]:
lista_alumnos = ["Luis", "Agustin", "Alvaro", "Sol", "Jaime", "Camilo", "Nicolas", "Hector", "Gonzalo", "Ronald"]
mesa_1 = ["Sol", "Hector", "Jaime"]
mesa_2 = ["Camilo", "Nicolas"]
mesa_3 = ["Agustin", "Alvaro"]
mesa_4 = ["Gonzalo", "Ronald"]

### Ejercicio 2

1. Crea una lista vacía, llámala **lista_vacía**.

In [2]:
lista_vacia = []

2. Crea una lista con 5 elementos, llámala **mi_lista**.

In [3]:
mi_lista = [1,2,3,4,5]

3. Hallar la longitud de **mi_lista**

In [4]:
len(mi_lista)

5

4. Obtener el primer elemento, el elemento central y el último elemento de **mi_lista**.

In [7]:
print(mi_lista[0])
print(mi_lista[-1])
print(mi_lista[len(mi_lista)//2])

1
5
3

5. Declarar
    - una variable **nombre** y asignarle un valor
    - una variable **edad** y asignarle un valor
    - una variable **altura** y asignarle un valor
    - una variable **país** y asignarle un valor
    - una variable **python_version** y asignarle un valor

In [8]:
nombre = "Maria"
edad = 27
altura = 168
pais = "Argentina"
python_version = 2.333

6. Crea una lista llamada **tipos_de_datos_mezclados** con tu nombre, edad, altura, país y versión_de_ python.

In [9]:
tipos_de_datos_mezclados = [nombre, edad, altura, pais, python_version]
tipos_de_datos_mezclados

['Maria', 27, 168, 'Argentina', 2.333]

7. Declara una variable de lista llamada **it_companies** y asígnale los valores iniciales Facebook, Google, Microsoft, Apple, IBM, Oracle y Amazon.

In [20]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

8. Imprime **it_companies** usando print()

In [21]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Imprimir el número de empresas de la lista

In [22]:
len(it_companies)

7

11. imprimir *Google

In [23]:
it_companies[1]

'Google'

10. Imprima el nombre, el segundo nombre y el apellido de la empresa

In [24]:
print(it_companies[0])
print(it_companies[len(it_companies)//2])
print(it_companies[-1])

Facebook
Apple
Amazon

11. Asignar un nuevo valor al último elemento de la lista

In [25]:
it_companies[-1] = 'Amazon_2'
it_companies

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon_2']

12. Imprimir la lista después de modificar una de las empresas

In [26]:
it_companies

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon_2']

## Bonus track.

13. Añadir una empresa de TI a **it_companies**.

In [27]:
it_companies.append('TI')
it_companies

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon_2', 'TI']

14. Compruebe si *Apple* existe en la lista **it_companies**.

In [28]:
it_companies.index("Apple")

3

15. Ordena la lista utilizando el método `sort()`.

In [30]:
it_companies.sort()
it_companies

['Amazon_2', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle', 'TI']

16. Invierte la lista en orden descendente utilizando el método `reverse()`.

In [31]:
it_companies.reverse()
it_companies

['TI', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon_2']

17. Elimine las 3 primeras empresas de la lista

In [33]:
it_companies[-5:]

['IBM', 'Google', 'Facebook', 'Apple', 'Amazon_2']

18. Elimine la última empresa informática de la lista

In [34]:
it_companies.pop()
it_companies

['TI', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple']

19. Eliminar todas las empresas de TI de la lista

In [35]:
it_companies.clear()
it_companies

[]

20. Une las listas siguientes y llama a la lista **fin**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [38]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

end = front_end + back_end
end

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

21. De la lista **end** imprimir 'HTML'

In [39]:
end[0][0]

'HTML'

22. En la lista final, imprima la "C" de la palabra "CSS".

In [41]:
end[0][1][0]

'C'

### Ejercicio 3.

¿Sabes que puedes crear tuplas con un solo elemento?

1. En la celda de abajo, define una variable **tup** con un solo elemento "T".

Pista: tienes que añadir una coma (,) después del elemento único.

In [56]:
tup = ("T",)
tup

('T',)

2. Imprime el tipo de tup.
Asegúrese de que su tipo es correcto (es decir, tupla en lugar de str).

In [57]:
type(tup)

tuple

3. Ahora intenta añadir los siguientes elementos a **tup**.
¿Eres capaz de hacerlo? Explícalo.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [58]:
#se puede transformando la tupla a lista
tup = list(tup)
lista_para_agregar = ["H", "E", " ", "B", "R", "I", "D", "G", "E"]
for elemento in lista_para_agregar:
    tup.append(elemento)

tup = tuple(tup)
tup

('T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')

4. ¿Qué tal reasignar un nuevo valor a una tupla existente?

Reasigna los siguientes elementos a **tup**.

¿Eres capaz de hacerlo? Explícalo.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [60]:
tup = list(tup)
tup.clear()
tup = ["T", "H", "E", " ", "B", "R", "I", "D", "G", "E"]

tup = tuple(tup)
tup

('T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')

### Ejercicio 4.

1. Convierte **lista_repes** en un *conjunto* para obtener sólo los valores únicos de la lista, asignándolo a una variable llamada **mi_conjunto**.

In [61]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [66]:
mi_conjunto = set(lista_repes)
mi_conjunto

{'clara', 'data', 'diomedes', 'gabriel', 'python', 'science'}

2. Intenta imprimir el primer elemento de **mi_conjunto**.

Lo has hecho bien si obtienes *TypeError: 'set' object is not subscriptable*.

In [63]:
mi_conjunto[0]

TypeError: 'set' object is not subscriptable

3. Convierte **mi_conjunto** en una lista, utilizando la función `list()`.

¿Puedes imprimir ahora el primer elemento?

In [67]:
mi_conjunto = list(mi_conjunto)
mi_conjunto[0]

'diomedes'