# Ex1 - Filtrar y ordenar datos

### Paso 1. Importar las bibliotecas necesarias

In [50]:
import pandas as pd 
import numpy as np

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [51]:
url  = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Paso 3. Asígnalo a una variable llamada chipo.

In [52]:
chipo = pd.read_csv(url, sep = '\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

# Nombre del producto de valor máximo

In [79]:
chipo['precio'] = chipo['item_price'].str.strip().str.replace('$','').astype(float)

chipo['item_name'][chipo['precio'] == chipo['precio'].max()]

C:\Users\Mega Tecnologia\AppData\Local\Temp\ipykernel_18160\3491137496.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo['precio'] = chipo['item_price'].str.strip().str.replace('$','').astype(float)

3598    Chips and Fresh Tomato Salsa
Name: item_name, dtype: object

### Paso 4. ¿Cuántos productos cuestan más de 10,00 dólares?

In [57]:
mask = chipo['precio'] > 10.

chipo[chipo['precio'] > 10.]

,order_id,quantity,item_name,choice_description,item_price,precio
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98,10.98
...,...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25,11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25

### Paso 5. ¿Cuál es el precio de cada artículo?
###### imprimir un marco de datos con sólo dos columnas nombre_artículo y precio_artículo

In [58]:
chipo.filter(['item_name', 'precio'])

                                  item_name  precio
0              Chips and Fresh Tomato Salsa    2.39
1                                      Izze    3.39
2                          Nantucket Nectar    3.39
3     Chips and Tomatillo-Green Chili Salsa    2.39
4                              Chicken Bowl   16.98
...                                     ...     ...
4617                          Steak Burrito   11.75
4618                          Steak Burrito   11.75
4619                     Chicken Salad Bowl   11.25
4620                     Chicken Salad Bowl    8.75
4621                     Chicken Salad Bowl    8.75

[4622 rows x 2 columns]

### Paso 6. Ordenar por el nombre del artículo

In [69]:
chipo.sort_values(by = 'item_name')

,order_id,quantity,item_name,choice_description,item_price,precio
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49

### Paso 7. ¿Cuál fue la cantidad pedida del artículo más caro? 2 formas

In [64]:
chipo['quantity'][chipo['precio'] == chipo['precio'].max()]

3598    15
Name: quantity, dtype: int64

In [83]:
chipo['quantity'].loc[chipo[chipo['precio'] == chipo['precio'].max()].index]

3598    15
Name: quantity, dtype: int64

### Paso 8. ¿Cuántas veces pidió ensalada de verduras?

In [90]:
len(chipo['item_name'][chipo['item_name'] == 'Veggie Salad'])

6

In [108]:
chipo['item_name'][chipo['item_name'] == 'Veggie Salad'].value_counts()

Veggie Salad    6
Name: item_name, dtype: int64

### Paso 9. ¿Cuántas veces pidió alguien más de un refresco en lata?

In [136]:
chipo['quantity'][chipo['item_name'] == '6 Pack Soft Drink'][chipo[chipo['item_name'] == '6 Pack Soft Drink']['quantity'] > 1]

3389    2
Name: quantity, dtype: int64