# EDA Smartphones

### Librerías

In [1]:
import pandas as pd
from utils import funciones as f

# pd.set_option('display.max_colwidth', None)

### Data

In [2]:
df = pd.read_csv('.\data\smartphonesmessy.csv')

In [3]:
df.shape

(1020, 11)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   model      1020 non-null   object
 1   price      1020 non-null   object
 2   rating     879 non-null    float64
 3   sim        1020 non-null   object
 4   processor  1020 non-null   object
 5   ram        1020 non-null   object
 6   battery    1020 non-null   object
 7   display    1020 non-null   object
 8   camera     1019 non-null   object
 9   card       1013 non-null   object
 10  os         1003 non-null   object
dtypes: float64(1), object(10)
memory usage: 87.8+ KB

In [5]:
df.describe(include = 'all').round()

,model,price,rating,sim,processor,ram,battery,display,camera,card,os
count,1020,1020,879.0,1020,1020,1020,1020,1020,1019,1013,1003
unique,1020,412,NaN,28,298,58,256,369,285,63,48
top,OnePlus 11 5G,"₹14,999",NaN,"Dual Sim, 3G, 4G, VoLTE, Wi-Fi","Dimensity 700 5G, Octa Core, 2.2 GHz Processor","8 GB RAM, 128 GB inbuilt",5000 mAh Battery with 33W Fast Charging,"6.67 inches, 1080 x 2400 px, 120 Hz Display wi...",50 MP + 8 MP + 2 MP Triple Rear & 16 MP Front ...,"Memory Card Supported, upto 1 TB",Android v12
freq,1,21,NaN,324,29,267,103,54,40,171,287
mean,NaN,NaN,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
f.cardinalidad(df)

,variable,tipo_dato,cantidad_de_nulos,valores_unicos,cardinalidad,porcentaje_cardinalidad,tipo_variable
0,model,object,0,"[OnePlus 11 5G, OnePlus Nord CE 2 Lite 5G, Sam...",1020,100.000000,nominal
1,price,object,0,"[₹54,999, ₹19,989, ₹16,499, ₹14,999, ₹24,999, ...",412,40.392157,continua
2,rating,float64,141,"[89.0, 81.0, 75.0, 82.0, 80.0, 86.0, 85.0, 84....",30,2.941176,discreta
3,sim,object,0,"[Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC, Dual...",28,2.745098,nominal
4,processor,object,0,"[Snapdragon 8 Gen2, Octa Core, 3.2 GHz Process...",298,29.215686,nominal
5,ram,object,0,"[12 GB RAM, 256 GB inbuilt, 6 GB RAM, 128 GB i...",58,5.686275,ordinal
6,battery,object,0,"[5000 mAh Battery with 100W Fast Charging, 500...",256,25.098039,ordinal
7,display,object,0,"[6.7 inches, 1440 x 3216 px, 120 Hz Display wi...",369,36.176471,nominal
8,camera,object,1,[50 MP + 48 MP + 32 MP Triple Rear & 16 MP Fro...,285,27.941176,ordinal
9,card,object,7,"[Memory Card Not Supported, Memory Card (Hybri...",63,6.176471,ordinal
10,os,object,17,"[Android v13, Android v12, iOS v16, No FM Radi...",48,4.705882,nominal

##### Al analizar los valores dentro de ciertas columnas podemos concluir:
- La columna 'ram' tiene datos que no corresponden a por ejemplo: 'Dual Core, 500\u2009MHz Processor'
- La columna 'processor' con tiene datos que no se corresponden los demás por ejemplo: '4\u2009MB RAM, 4\u2009MB inbuilt', '1450\u2009mAh Battery'
- La columna 'ram' tiene datos que no se corresponden con lo demás, por ejemplo: '1.5 inches, 120\u2009x\u2009120\u2009px Display'
- La columna 'battery' tiene datos que no se corresponden con los demás, por ejemplo: '48\u2009MB RAM, 128\u2009MB inbuilt'
- La columna 'display' tiene datos que no se corresponden con los demás, por ejemplo: '0.3\u2009MP Rear Camera'
- La columna 'camera' tiene datos que no se corresponden con los demás, por ejemplo: '1.77 inches, 240\u2009x\u2009320\u2009px Display'
- La columna 'card' tiene datos que no se corresponden con los demás, por ejemplo: '50\u2009MP + 48\u2009MP + 32\u2009MP Triple Rear & 32\u2009MP + 32\u2009MP Dual Front Camera'
- La columna 'os' tiene datos que no se corresponden con los demás, por ejemplo: 'Memory Card Supported, upto 32\u2009GB'
- La columna 'price' esta en rupias