In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('smartphonesmessy.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   model      1020 non-null   object
 1   price      1020 non-null   object
 2   rating     879 non-null    float64
 3   sim        1020 non-null   object
 4   processor  1020 non-null   object
 5   ram        1020 non-null   object
 6   battery    1020 non-null   object
 7   display    1020 non-null   object
 8   camera     1019 non-null   object
 9   card       1013 non-null   object
 10  os         1003 non-null   object
dtypes: float64(1), object(10)
memory usage: 87.8+ KB

In [12]:
df.describe(include = 'all').round()

,model,price,rating,sim,processor,ram,battery,display,camera,card,os
count,1020,1020,879.0,1020,1020,1020,1020,1020,1019,1013,1003
unique,1020,412,NaN,28,298,58,256,369,285,63,48
top,OnePlus 11 5G,"₹14,999",NaN,"Dual Sim, 3G, 4G, VoLTE, Wi-Fi","Dimensity 700 5G, Octa Core, 2.2 GHz Processor","8 GB RAM, 128 GB inbuilt",5000 mAh Battery with 33W Fast Charging,"6.67 inches, 1080 x 2400 px, 120 Hz Display wi...",50 MP + 8 MP + 2 MP Triple Rear & 16 MP Front ...,"Memory Card Supported, upto 1 TB",Android v12
freq,1,21,NaN,324,29,267,103,54,40,171,287
mean,NaN,NaN,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df['sim']

0                 Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC
1                      Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi
2                      Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi
3                      Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi
4                      Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi
                              ...
1015                   Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi
1016                   Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi
1017    Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC, IR Bl...
1018              Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC
1019                   Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi
Name: sim, Length: 1020, dtype: object